
<div class="container animate__animated animate__zoomIn">

  <div class="animate__animated animate__zoomIn animate__delay-1s">
    
      <h1 class="">Lights out 
        <em [class.fa-solid]="isHovered" (mouseover)="onHover()" (mouseout)="onLeave()"
        class="fa-regular fa-lightbulb light-hover"></em></h1>
    
      <button class="btn-change" routerLink="/game">
        <span class="text-container">
          <span class="text">Play</span>
        </span>
      </button>

  </div>
</div>




